*{
    padding: 0px;
    margin: 1px;
    background-color: bisque;
}


header{
    display: flex;
    justify-content: center;
}

header h1{
    font-size: 5rem;
}



nav ul{

    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    list-style: none;

}

nav ul li{
    font-size: 2.2rem;
}



#main{
    display: flex;
    justify-content: space-between;
    margin: 55px;
    margin-top: 0px;
    margin-bottom: 5px;
    align-items: center;
}

#right{
    height: 110px;
}

#left{
    height: 110px;
}

#pic_txt{
    display: flex;
    justify-content: center;
}

.rule p{
    font-size: 34px;
}

#whole{
    display: grid;
    grid-column: 1fr 1fr;
    grid-row: 900px;
    grid-template-areas: 
    "wi bo"
    "mo kn"
    ;
}

#inter_whole{
    display: grid;
    grid-column: 1fr 1fr;
    grid-row: 900px;
    grid-template-areas: 
    "wi bo";
}

.part_r{
    display: grid;
    margin: 5px;
}

#win{
    grid-area: wi;
}

#board{
    grid-area: bo;
}

#movement{
    grid-area: mo;
}

#knight{
    grid-area: kn;
}

img{
    width: 490px;
}

#img_board{
    height: 355px;
}

a{
    text-decoration: none;
}