*{
    padding: 0px;
    margin: 1px;
    background-color: bisque;
}

img{
    border-radius: 13px;
}

header{
    display: flex;
    justify-content: center;
}

header h1{
    font-size: 3.5rem;
}

nav ul{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 35px;
    grid-template-areas: 
    "l1 l2 l3 l4"
    ;
}

body > nav > ul{
    display: flex;
    list-style: none;
    justify-content: space-around;
}

#L1{
    grid-area: l1;
}

#L2{
    grid-area: l2;
}

#L3{
    grid-area: l3;
}

#L4{
    grid-area: l4;
}

nav h2{
    font-size: 2.3rem;
}

#main{
    display: flex;
    justify-content: space-between;
    margin: 4px;
    margin-top: 0px;
    margin-bottom: 2px;
    align-items: center;
}

#inter_whole{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 666px;
    grid-template-areas: 
    "wi bo";
}

.whole{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 5px;
    margin-left: 5px;
    margin-right: 5px;
}

.whole_2{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 5px;
    margin-left: 5px;
    margin-right: 5px;
}

#right{
    height: 110px;
}

#left{
    height: 110px;
}

#pic{
    height: 470px;
}

#pic_txt{
    display: flex;
    justify-content: center;
}

.rule p{
    font-size: 34px;
}

.part_r{
    display: grid;
    margin: 5px;
}

.flexer{
    display: flex;
}

#win{
    grid-area: wi;
}

#board{
    grid-area: bo;
}

#movement{
    grid-area: mo;
}

#knight{
    grid-area: kn;
}

img{
    width: 490px;
}

#img_board{
    height: 355px;
}

a{
    text-decoration: none;
}

@media screen and (min-width:890px) {

    header h1{
        font-size: 3.6rem;
    }

    nav ul li{
        font-size: 2rem;
    }
    #ny img{
        height: 420px;
        width: 420px;
    }
    .flexer p{
        font-size: 0.8rem;
    }

    @media screen and (min-width:1110px) {
    
        #main{
            margin:55px;
            margin-top: 0px;
            margin-bottom: 5px;
        }
    

        .whole{
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 525px;
            grid-template-areas: 
            "wi bo"
            "mo kn"
            ;
        }
        .flexer p{
            font-size: 1.2rem;
        }
        #ny img{
            height: 430px;
            width: 430px;
        }
    }
}
