*{
    padding: 0px;
    margin: 1px;
    background-color: bisque;
}

h1{
    font-family: Arial, Helvetica, sans-serif;
}

h2{
    font-family: Georgia, 'Times New Roman', Times, sans-serif;
}

img{
    border-radius: 13px;
}

#font p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, serif;
}

header{
    display: flex;
    justify-content: center;
}

header h1{
    font-size: 3.2rem;
}

nav ul{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 35px;
    grid-template-areas: 
    "l1 l2 l3 l4"
    ;
}

body > nav > ul{
    display: flex;
    list-style: none;
    justify-content: space-around;
}

#L1{
    grid-area: l1;
}

#L2{
    grid-area: l2;
}

#L3{
    grid-area: l3;
}

#L4{
    grid-area: l4;
}

nav h2{
    font-size: 1.5rem;
}

#ny img{
    height: 240px;
    width: 240px;
}

#main{
    display: flex;
    justify-content: space-between;
    margin: 4px;
    margin-top: 0px;
    margin-bottom: 2px;
    align-items: center;
}

#inter_whole{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 666px;
    grid-template-areas: 
    "wi bo";
}

.whole{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 5px;
    margin-left: 5px;
    margin-right: 5px;
}

#right{
    height: 110px;
    margin-top: 200px;
    margin-bottom: 200px;
}

#left{
    height: 110px;
    margin-top: 200px;
    margin-bottom: 200px;
}

#pic_txt{
    display: flex;
    justify-content: center;
}

.rule p{
    font-size: 24px;
    margin-left: 1px;
    margin-right: 1px;
}

.part_r{
    display: grid;
    margin: 5px;
}

.flexer{
    display: flex;
}

#win{
    grid-area: wi;
}

#board{
    grid-area: bo;
}

#movement{
    grid-area: mo;
}

#knight{
    grid-area: kn;
}

img{
    width: 340px;
    height: 340px;
}

#pic{
    width: 80%;
    height: auto;
}

a{
    text-decoration: none;
}

@media screen and (min-width:890px) {

    .rule p{
        font-size: 25px;
    }

    header h1{
        font-size: 3.6rem;
    }

    nav ul li{
        font-size: 2rem;
    }
    #ny img{
        height: 420px;
        width: 420px;
    }
    .flexer p{
        font-size: 1.2rem;
    }

    @media screen and (min-width:1210px) {
    
        #main{
            margin:55px;
            margin-top: 0px;
            margin-bottom: 5px;
        }
    

        .whole{
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 525px;
            grid-template-areas: 
            "wi bo"
            "mo kn"
            ;
        }
        .flexer p{
            font-size: 1.2rem;
        }
        #ny img{
            height: 430px;
            width: 430px;
        }
    }
}
